@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'Epilogue';
    src: url('/assets/fonts/Epilogue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue';
    src: url('/assets/fonts/Epilogue-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
